<div class="login-form">
    <div class="col-md-6-auto">
        <div class="card card-body">
            <form method="POST" action='/log'>
                <div class="form-group">
                    <label class="exampleInputEmail1">User ID</label>
                    <input type="name" class="user-id form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter User-ID" name="name">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="password form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                <div class="form-group form-check">
                </div>
                <div class = "row">
                    <div class = "col-md-2"><button type="submit" class="btn btn-dark">Submit</button></div>
            </form>
        </div>
    </div>
</div>